@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter.ttf) format("truetype");
    font-display: swap;
    font-weight: 1 999;
}

.headContainer {
    margin-top: 3.6vh;
    margin-left: 2vw;
    margin-bottom: 6vh;
    display: flex;
}

.addButton {
    border: 2px solid black;
    border-radius: 10%;
    font-size: 80px;
    margin-right: 2vw;
}

.leftContainer {
    width: 72vw;
}

.headRightContainer {
    padding-left: 6vw;
    padding-top: 1vh;
}

.footRightContainer {
    padding-left: 6vw;
    padding-top: 1vh;
}

.rightContainer {
    height: 92vh;
    padding-left: 6vw;
}

.planeElement {
    font-size: 30px;
    padding-left: 18%;
    padding-top: 1.2vh;
}
